:root {
  --light-green: #a8d5ba;
  --dark-green: #344e41;
  --light-orange: #f4a261;
  --dark-orange: #e76f51;
  --neutral-white: #fefae0;
}

/* Reset and Basic Styles */
body {
  font-family: "Geist Mono", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--light-green);
  color: var(--dark-green);
}

header {
  background-color: var(--dark-orange);
  color: var(--neutral-white);
  padding: 1rem 0;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  margin-top: 5px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: var(--neutral-white);
  text-decoration: none;
}

section {
  padding: 2rem;
  margin: 1rem 0;
}

#about {
  text-align: center;
  line-height: 2rem;
  font-size: xx-large;
}

#projects {
  text-align: center;
}

.project {
  padding: 1rem;
  margin: 1rem auto;
  width: 80%;
  text-align: center;
}

.project img {
  width: 50%;
  border-radius: 20%;
}

#projects a {
  color: var(--dark-orange);
  text-decoration: none;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--dark-green);
  color: var(--neutral-white);
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--light-orange);
  color: var(--dark-green);
}

#contact {
  text-align: center;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border-style: none;
  background-color: var(--light-orange);
  color: var(--dark-green);
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: var(--dark-green);
  color: var(--neutral-white);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: var(--dark-orange);
}

#linkdIn {
  text-decoration: none;
  color: var(--dark-orange);
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--dark-green);
  color: var(--neutral-white);
}
